In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import keras
from keras.layers import Dense
from keras.models import Sequential
from keras.optimizers import RMSprop, SGD
from keras.callbacks import EarlyStopping
import tensorflow as tf
from tensorflow.keras.layers import Input, Dense, RNN, LSTM
from tensorflow.keras import Model
from tensorflow.keras import regularizers
import sklearn
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.metrics import r2_score

In [2]:
inputs = Input(shape=(31,))
dense2 = Dense(7,activation='relu')(inputs)
keras.layers.Dropout(0.68)
output = Dense(1,activation='linear')(dense2)
model = Model(inputs,output)
model.compile(optimizer='adam',loss='mean_squared_error', metrics=['mse'])

In [3]:
teamData = pd.read_csv("team_season.csv")
teamDataTrain = teamData.loc[437:1156, :]
print(teamDataTrain.shape)

(720, 36)

In [4]:
teamDataT = pd.read_csv("team_season.csv")
teamDataTest = teamDataT.loc[1157:, :]
print(teamDataTest.shape)

(30, 36)

In [5]:
teamID = teamDataTrain['team'] 
x_Train = teamDataTrain.drop(columns=['team','year','leag','won','lost'])
x_Train.tail()

,o_fgm,o_fga,o_ftm,o_fta,o_oreb,o_dreb,o_reb,o_asts,o_pf,o_stl,...,d_reb,d_asts,d_pf,d_stl,d_to,d_blk,d_3pm,d_3pa,d_pts,pace
1152,2842,6434,1409,2069,1028,2669,3697,1676,1667,661,...,3368,1419,1837,635,1194,381,311,951,6909,90.400002
1153,2939,6590,1363,1782,907,2318,3225,1782,1783,661,...,3498,1728,1658,629,1158,386,486,1394,8016,91.800003
1154,2654,6348,1237,1650,830,2419,3249,1574,1748,604,...,3696,1518,1619,590,1137,333,273,889,7253,88.800003
1155,2690,6171,1639,2197,1103,2272,3375,1671,2095,583,...,2999,1528,1999,666,1216,530,415,1209,7371,88.099998
1156,2758,6556,1579,2211,1115,2392,3507,1537,1712,733,...,3568,1966,1783,787,1269,446,424,1238,7990,94.099998

In [6]:
teamID2 = teamDataTest['team'] 
x_Test = teamDataTest.drop(columns=['team','year','leag','won','lost'])
x_Test.head()

,o_fgm,o_fga,o_ftm,o_fta,o_oreb,o_dreb,o_reb,o_asts,o_pf,o_stl,...,d_reb,d_asts,d_pf,d_stl,d_to,d_blk,d_3pm,d_3pa,d_pts,pace
1157,2942,6672,1417,1994,1100,2335,3435,1614,2009,629,...,3385,1803,1777,716,1235,484,467,1232,8401,93.948730
1158,3046,6511,1775,2323,909,2438,3347,1810,2000,667,...,3466,1859,1937,714,1248,402,488,1370,8233,95.735855
1159,2849,6592,1536,2048,1001,2591,3592,1743,2028,576,...,3503,1715,1914,685,1272,434,416,1245,7658,96.283737
1160,2961,6859,1487,2096,1083,2335,3418,1794,1893,695,...,3545,1768,1857,624,1304,446,442,1224,8220,96.201630
1161,2990,6687,1634,2174,1117,2352,3469,1851,1850,654,...,3262,1737,1770,549,1226,419,422,1122,7849,93.840187

In [7]:
x_Train['target']  = teamData['won']/(teamData['won']+teamData['lost'])

In [8]:
x_Test['target']  = teamData['won']/(teamData['won']+teamData['lost'])
x_Test.head()
print(type(x_Test))

<class 'pandas.core.frame.DataFrame'>

In [9]:
msk = np.random.rand(len(x_Train)) < 0.8
train = x_Train[msk]
test = x_Train[~msk]

In [10]:
msk = np.random.rand(len(x_Test)) < 0.8
train2 = x_Test[msk]
test2 = x_Test[~msk]

In [11]:
#X_train,X_test,y_train,y_test = train_test_split(x_Train,x_Test,test_size = 0.2)

In [12]:
#xNump = x.to_numpy()

In [13]:
#X_features = xNump[:,0:-1]

#Y_features = xNump[:,31]

In [14]:
X_features = preprocessing.scale(train)
Y_features = preprocessing.scale(test)

X_features2 = preprocessing.scale(train2)
Y_features2 = preprocessing.scale(test2)

In [15]:
#model.fit(X_features,Y_features,validation_split=0.20,epochs =30, shuffle= True)

In [16]:
#testTeamA = teamData.loc[438:438, :]
#teamID = testTeamA['team'] 
#teamA = testTeamA.drop(columns=['team','year','leag','won','lost'])
#teamA

In [18]:
learnR = [100]
for i in learnR:
    history =model.fit(X_features,X_features2,validation_split=0.10,epochs =30, shuffle= True, verbose=0)
    history_dict = history.history
    loss_values = history_dict['loss']
    val_loss_values = history_dict['val_loss']
    plt.figure()
    plt.plot(loss_values,'bo',label='training_loss')
    plt.plot(val_loss_values,'r',label='val training loss')

ValueError: Data cardinality is ambiguous:
  x sizes: 516
  y sizes: 27
Please provide data which shares the same first dimension.

In [ ]:
print("score on x_features is:\t{:0.3f}".format(r2_score()))

In [ ]:
testTeamA = teamData.loc[438:438, :]

In [ ]:
teamID = testTeamA['team'] 
teamA = testTeamA.drop(columns=['team','year','leag','won','lost'])
teamA

In [ ]:
teamApred = model.predict(teamA)
print("score on x_features is:\t{:0.3f}".format(r2_score(teamApred)))

In [ ]:
testTeamB = teamData.loc[439:439, :]
teamID = testTeamB['team'] 
teamB = testTeamB.drop(columns=['team','year','leag','won','lost'])
print(model.predict(teamB))